.result-page-container {
    margin: 0 auto;
}

.all-results-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 8px;
}

.single-result-container {
    border: 2px solid #0D89EC;
    margin-bottom: 4px;
}

.new-search-button {
    border: none;

    margin-bottom: 4px;
    background-color: #79add8;
    border: 2px solid #4a9adb;
    border-radius: 2px;
    color: whitesmoke;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;

}

.new-search-button:hover {
    background-color: #4f9bda;
}

.new-search-button:active {
    background-color: #1c85db;

}


.pdf-in-browser {
    width:700px; 
    height:800px;
}